cffi>=0.8.6
chardet>=2.3.0
cryptography>=0.8.1
enum34>=1.0.4
fuzzywuzzy>=0.5.0
matplotlib>=1.4.3
mock>=1.0.1
nose>=1.3.4
numpy>=1.9.2
pandas>=0.15.2
pbr>=0.11.0
Pillow>=2.7.0
progressbar2>=2.7.3
-e git+git@github.com:hobson/pug-ann.git@8031ac31493226360ae19db4a10fd2329bad056e#egg=pug_ann-master
-e git+git@github.com:hobson/pug-nlp.git@539e010daf6cd263b16239e9e5924170060214a7#egg=pug_nlp-master
pyasn1>=0.1.7
-e git+git@github.com:hobson/pybrain.git@efc11faa0630d4a22b31124be9d5e5ee6978e717#egg=PyBrain-master
-e git+git@github.com:hobson/pybrain.git@efc11faa0630d4a22b31124be9d5e5ee6978e717#egg=PyBrain2-master
pycparser>=2.10
pyOpenSSL>=0.14
pyparsing>=2.0.3
python-dateutil>=2.4.1
python-Levenshtein>=0.12.0
python-slugify>=0.1.0
pytz>=2015.2
pyzmq>=14.5.0
scipy>=0.15.1
six>=1.9.0
stevedore>=1.4.0
Unidecode>=0.4.16
urllib3>=1.10.4
virtualenv>=12.1.1
virtualenv-clone>=0.2.5
virtualenvwrapper>=4.5.1
xlrd>=0.9.3
