{# extends 'base.html' #}
{% block topbar %}
<div class="navbar-inner">
    <div class="container">
        <a class="brand" href="/">Big Data</a>
        <ul class="nav">
            <li><a href="{% url 'home' %}" class="">Home</a></li>
            {% comment %}
            <li><a href="{% url 'web.views.home_form' %}">Form</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Forms<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'demo_app.views.demo_form' %}?layout=vertical">Vertical</a></li>
                        <li><a href="{% url 'demo_app.views.demo_form' %}?layout=horizontal">Horizontal</a></li>
                        <li><a href="{% url 'demo_app.views.demo_form_inline' %}?layout=inline">Inline</a></li>
                        <li><a href="{% url 'demo_app.views.demo_form_inline' %}?layout=search">Search</a></li>
                        <li><a href="{% url 'demo_app.views.demo_form_with_template' %}?layout=horizontal">Using template</a></li>
                    </ul>
                </li>
            <li><a href="{% url 'formset' %}">Formset</a></li>
            <li><a href="{% url 'tabs' %}">Tabs &amp; Pills</a></li>
            <li><a href="{% url 'pagination' %}">Pagination</a></li>
            <li><a href="{% url 'buttons' %}">Buttons</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
            {% endcomment %}
        </ul>
    </div>
</div>
{% endblock %} 